<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chards.committee.mapper.BackSchoolMapper">
    <sql id="getAll">
        select back_school.*,
        stu_info.name,
        stu_info.gender,
        stu_info.classes ,
        stu_info.id_card ,
        stu_info.dormitory,
        stu_info.department,
        stu_info.state,
        stu_info.address as address1,
        stu_info.grade,
        stu_info.phone,
        stu_info.education_background,
        stu_info.political_status,
        stu_info.emergency_phone as phone1,
        stu_info.emergency_contact
        from back_school
        inner join stu_info on back_school.stu_num = stu_info.id
        <if test="param.pass !=null ">
            and back_school.pass = #{param.pass,jdbcType=INTEGER}
        </if>
        <if test="param.stuNum!=null">
            and stu_info.id = #{param.stuNum, jdbcType=VARCHAR}
        </if>
        <if test="param.department != null">
            and stu_info.department = #{param.department,jdbcType = VARCHAR}
        </if>
        <if test="param.grade != null">
            and stu_info.grade = #{param.grade,jdbcType = VARCHAR}
        </if>
        <if test="param.beginDate != null">
            and unix_timestamp(back_school.date)  <![CDATA[ >= ]]> unix_timestamp(#{param.beginDate,jdbcType=VARCHAR})
        </if>
        <if test="param.endDate != null">
            and unix_timestamp(back_school.date)  <![CDATA[ <= ]]> unix_timestamp(#{param.endDate,jdbcType=VARCHAR})
        </if>
        <if test="param.province != null">
            and back_school.loc like CONCAT(#{param.province,jdbcType = VARCHAR}, '%')
        </if>
    </sql>

    <sql id="getNotApplyAll">
        select stu_info.*
        from stu_info
        where stu_info.id not in (select back_school.stu_num from back_school)
        <if test="param.stuNum!=null">
            and stu_info.id = #{param.stuNum, jdbcType=VARCHAR}
        </if>
        <if test="param.department != null">
            and stu_info.department = #{param.department,jdbcType = VARCHAR}
        </if>
        <if test="param.grade != null">
            and stu_info.grade = #{param.grade,jdbcType = VARCHAR}
        </if>
    </sql>

    <sql id="dateArea">
        and unix_timestamp(back_school.date)  <![CDATA[ >= ]]> unix_timestamp(#{param.beginDate,jdbcType=VARCHAR})
        and unix_timestamp(back_school.date)  <![CDATA[ <= ]]> unix_timestamp(#{param.endDate,jdbcType=VARCHAR})
      
    </sql>

    <sql id="updateAllSelectIdList">
        select back_school.stu_num
        from back_school
                 inner join stu_info on back_school.pass = 0
            and back_school.stu_num = stu_info.id
    </sql>

    <select id="getAdminManagementStudentBackSchool" resultType="com.chards.committee.vo.BackSchoolGetAllVO">
        <include refid="getAll"></include>
    </select>

    <update id="updateAdminManagementStudentBackSchoolPass">
        update back_school set pass = #{param.pass,jdbcType=INTEGER} ,reviewed_time = #{param.reviewedTime},
        reviewed_by = #{param.reviewedBy} where stu_num in (
        SELECT stu_num_list.stu_num from
        (
            <include refid="updateAllSelectIdList"></include>
            <foreach item="item" collection="param.userDataScopeList" index="index">
                and stu_info.department like #{item.department, jdbcType=VARCHAR}
                and stu_info.education_background like #{item.educationBackground, jdbcType=VARCHAR}
                and stu_info.grade like #{item.grade, jdbcType=VARCHAR}
            </foreach>
        ) as stu_num_list
        )
    </update>

    <select id="getAdminManagementStudentBackSchoolByDateArea"
            resultType="com.chards.committee.vo.BackSchoolGetAllVO">
        <include refid="getAll"></include>
    </select>
    <select id="getDoNotApplyForBackSchoolByParams" resultType="com.chards.committee.domain.StuInfo">
            <include refid="getNotApplyAll"></include>
    </select>
</mapper>