<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chards.committee.mapper.LeaveSchoolTztzAutumnMapper">
    <sql id="getAll">
        select leave_school_tztz_autumn.*,
        stu_info.name,
        stu_info.gender,
        stu_info.classes ,
        stu_info.id_card ,
        stu_info.dormitory,
        stu_info.department,
        stu_info.address as address1,
        stu_info.grade,
        stu_info.phone,
        stu_info.education_background,
        stu_info.political_status,
        stu_info.emergency_phone as phone1,
        stu_info.emergency_contact
        from leave_school_tztz_autumn
        inner join stu_info on leave_school_tztz_autumn.stu_num = stu_info.id
        <if test="param.pass !=null ">
            and leave_school_tztz_autumn.pass = #{param.pass,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="dateArea">
        and unix_timestamp(leave_school_tztz_autumn.date)  <![CDATA[ >= ]]> unix_timestamp(#{param.beginDate,jdbcType=VARCHAR})
        and unix_timestamp(leave_school_tztz_autumn.date)  <![CDATA[ <= ]]> unix_timestamp(#{param.endDate,jdbcType=VARCHAR})
      
    </sql>

    <sql id="updateAllSelectIdList">
        select leave_school_tztz_autumn.stu_num
        from leave_school_tztz_autumn
                 inner join stu_info on leave_school_tztz_autumn.pass = 0
            and leave_school_tztz_autumn.stu_num = stu_info.id
    </sql>
    <select id="getAdminManagementStudentBackSchool" resultType="com.chards.committee.vo.BackSchoolGetAllVO">
        <if test="param.adminWorkDTO.identity == 1">
            <include refid="getAll"></include>
        </if>
        <if test="param.adminWorkDTO.identity !=1">
            <foreach item="item" collection="param.adminWorkDTO.works" index="index">
                <include refid="getAll"></include>
                <if test="item == '研究生'">
                    and stu_info.education_background='研究生'
                </if>
                <if test="item != '全部年级' and item != '研究生'">
                    and stu_info.education_background='本科'
                    and stu_info.grade = #{item,jdbcType=VARCHAR}
                </if>
                <if test="param.adminWorkDTO.department != '学工处'">
                    and stu_info.department = #{param.adminWorkDTO.department,jdbcType=VARCHAR}
                </if>
                <if test="index != param.adminWorkDTO.works.size()-1">
                    union
                </if>
            </foreach>
        </if>
    </select>
    <update id="updateAdminManagementStudentLeaveSchoolPass">
        update leave_school_tztz_autumn set pass = #{param.pass,jdbcType=INTEGER} where stu_num in (
        <if test="param.adminWorkDTO.identity == 1">
            <include refid="updateAllSelectIdList"></include>
        </if>
        <if test="param.adminWorkDTO.identity !=1">
            <foreach item="item" collection="param.adminWorkDTO.works" index="index">
                <include refid="updateAllSelectIdList"></include>
                <if test="item == '研究生'">
                    and stu_info.education_background='研究生'
                </if>
                <if test="item != '全部年级' and item != '研究生'">
                    and stu_info.education_background='本科'
                    and stu_info.grade = #{item,jdbcType=VARCHAR}
                </if>
                <if test="param.adminWorkDTO.department != '学工处'">
                    and stu_info.department = #{param.adminWorkDTO.department,jdbcType=VARCHAR}
                </if>
                <if test="index != param.adminWorkDTO.works.size()-1">
                    union
                </if>
            </foreach>
        </if>
        )
    </update>
<!--    <select id="getAdminManagementStudentBackSchoolByDateArea"-->
<!--            resultType="com.chards.committee.vo.BackSchoolGetAllVO">-->
<!--        <if test="param.adminWorkDTO.identity == 1">-->
<!--            <include refid="getAll"></include>-->
<!--            <include refid="dateArea"></include>-->
<!--        </if>-->
<!--        <if test="param.adminWorkDTO.identity !=1">-->
<!--            <foreach item="item" collection="param.adminWorkDTO.works" index="index">-->
<!--                <include refid="getAll"></include>-->
<!--                <include refid="dateArea"></include>-->
<!--                <if test="item == '研究生'">-->
<!--                    and stu_info.education_background='研究生'-->
<!--                </if>-->
<!--                <if test="item != '全部年级' and item != '研究生'">-->
<!--                    and stu_info.education_background='本科'-->
<!--                    and stu_info.grade = #{item,jdbcType=VARCHAR}-->
<!--                </if>-->
<!--                <if test="param.adminWorkDTO.department != '学工处'">-->
<!--                    and stu_info.department = #{param.adminWorkDTO.department,jdbcType=VARCHAR}-->
<!--                </if>-->
<!--                <if test="index != param.adminWorkDTO.works.size()-1">-->
<!--                    union-->
<!--                </if>-->
<!--            </foreach>-->

<!--        </if>-->
<!--    </select>-->
</mapper>