<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chards.committee.mapper.PsychologicalTestRecordMapper">
    <resultMap type="com.chards.committee.domain.PsychologicalTestRecord" id="BaseResultMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="stuNum" column="stu_num" jdbcType="VARCHAR"/>
        <result property="schoolYear" column="school_year" jdbcType="VARCHAR"/>
        <result property="result" column="result" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllByStuNum" resultMap="BaseResultMap">
        select *
        from psychological_test_record
        where stu_num = #{stuNum}
    </select>
</mapper>