<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chards.committee.mapper.PsychologicalLevelMapper">

    <resultMap type="com.chards.committee.domain.PsychologicalLevel" id="BaseResultMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="stuNum" column="stu_num" jdbcType="VARCHAR"/>
        <result property="learningProblem" column="learning_problem" jdbcType="VARCHAR"/>
        <result property="economicProblem" column="economic_problem" jdbcType="VARCHAR"/>
        <result property="abnormalBehaviorProblem" column="abnormal_behavior_problem" jdbcType="VARCHAR"/>
        <result property="lifeEventProblem" column="life_event_problem" jdbcType="VARCHAR"/>
        <result property="personalityProblem" column="personality_problem" jdbcType="VARCHAR"/>
        <result property="epidemicPsychologicalProblem" column="epidemic_psychological_problem" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="basis" column="basis" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="recorder" column="recorder" jdbcType="VARCHAR"/>
        <result property="recordedTime" column="recorded_time" jdbcType="TIMESTAMP"/>
        <result property="checkStatus" column="check_status" jdbcType="INTEGER"/>
        <result property="reviewer" column="reviewer" jdbcType="VARCHAR"/>
        <result property="instruction" column="instruction" jdbcType="VARCHAR"/>
        <result property="checkTime" column="check_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="checkStatus">
        update psychological_level
        set check_status = #{checkStatus}, reviewer = #{reviewer},
            instruction = #{instruction}, check_time = #{checkTime}
        where id = #{id}
    </update>

    <update id="updatePsyLevelById" parameterType="com.chards.committee.vo.PsychologicalLevelUpdateVO">
        update psychological_level
        <set>
            <if test="psychologicalLevelUpdateVO.learningProblem != null">
                learning_problem = #{psychologicalLevelUpdateVO.learningProblem},
            </if>
            <if test="psychologicalLevelUpdateVO.economicProblem != null">
                economic_problem = #{psychologicalLevelUpdateVO.economicProblem},
            </if>
            <if test="psychologicalLevelUpdateVO.abnormalBehaviorProblem != null">
                abnormal_behavior_problem = #{psychologicalLevelUpdateVO.abnormalBehaviorProblem},
            </if>
            <if test="psychologicalLevelUpdateVO.lifeEventProblem != null">
                life_event_problem = #{psychologicalLevelUpdateVO.lifeEventProblem},
            </if>
            <if test="psychologicalLevelUpdateVO.personalityProblem != null">
                personality_problem = #{psychologicalLevelUpdateVO.personalityProblem},
            </if>
            <if test="psychologicalLevelUpdateVO.epidemicPsychologicalProblem != null">
                epidemic_psychological_problem = #{psychologicalLevelUpdateVO.epidemicPsychologicalProblem},
            </if>
            <if test="psychologicalLevelUpdateVO.level != null">
                level = #{psychologicalLevelUpdateVO.level},
            </if>
            <if test="psychologicalLevelUpdateVO.basis != null">
                basis = #{psychologicalLevelUpdateVO.basis},
            </if>
            <if test="psychologicalLevelUpdateVO.remark != null">
                remark = #{psychologicalLevelUpdateVO.remark},
            </if>
            <if test="psychologicalLevelUpdateVO.recordedTime != null">
                recorded_time = #{psychologicalLevelUpdateVO.recordedTime}
            </if>
        </set>
        where id = #{psychologicalLevelUpdateVO.id}
    </update>

    <select id="getPsychologicalLevelPage" resultType="com.chards.committee.domain.PsychologicalLevel">
        select * from psychological_level
        <where>
            <if test = "recorder != ''">
                recorder = #{recorder}
            </if>
            <if test = "stuNum != ''">
                And stu_num = #{stuNum}
            </if>
            <if test="checkStatus != null">
                And check_status = #{checkStatus}
            </if>
        </where>
        order by
        recorded_time desc
    </select>

    <select id="getPsychologicalLevelByStuNum" resultMap="BaseResultMap">
        select *
        from psychological_level
        where stu_num = #{stuNum}
        order by update_time asc
    </select>

</mapper>