<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chards.committee.mapper.StuInfoMapper">
    <sql id="likePage">
       SELECT
        stu_info.id ,stu_info.`name`,stu_info.department,stu_info.major,stu_info.grade,stu_info.education_background, stu_info.state ,stu_info.classes
        FROM
        stu_info
        LEFT JOIN  parents_info ON stu_info.id = parents_info.stu_num
        WHERE
        stu_info.id LIKE #{param.param,jdbcType=VARCHAR}
        OR stu_info.`name` LIKE #{param.param,jdbcType=VARCHAR}
        OR stu_info.phone LIKE #{param.param,jdbcType=VARCHAR}
        OR stu_info.pinyin LIKE #{param.param,jdbcType=VARCHAR}
        OR stu_info.id_card LIKE #{param.param,jdbcType=VARCHAR}
        <if test="param.address  == 1">
            OR stu_info.address LIKE #{param.param,jdbcType=VARCHAR}
        </if>
        <if test="param.emergencyContact  == 1">
            OR stu_info.emergency_contact LIKE #{param.param,jdbcType=VARCHAR}
        </if>
        <if test="param.emergencyPhone  == 1">
            OR stu_info.emergency_phone LIKE #{param.param,jdbcType=VARCHAR}
        </if>
        <if test="param.parentsName  == 1">
            OR parents_info.name1 LIKE #{param.param,jdbcType=VARCHAR}
            OR parents_info.name2 LIKE #{param.param,jdbcType=VARCHAR}
        </if>
        <if test="param.parentsPhone  == 1">
            OR parents_info.tel1 LIKE #{param.param,jdbcType=VARCHAR}
            OR parents_info.tel2 LIKE #{param.param,jdbcType=VARCHAR}
        </if>

    </sql>

<!--    当前使用版本，结果有分页，改用新版数据权限控制策略，此处无需再进行权限控制-->
    <select id="getLike" resultType="com.chards.committee.vo.StuInfoPageVO">
        <include refid="likePage"></include>
    </select>


    <select id="getLikeForPsychologicalCounselor" resultType="com.chards.committee.vo.StuInfoPageVO">
        <include refid="likePage"></include>
    </select>


    <sql id="seniorSearch">
        SELECT
        id ,`name`,department,major,grade,classes, state, education_background
        FROM
        stu_info
        where 1 = 1
        <if test="param.department != ''">
            and department = #{param.department,jdbcType=VARCHAR}
        </if>
        <if test="param.grade != ''">
            and grade = #{param.grade,jdbcType=VARCHAR}
        </if>
        <if test="param.counsellorNum != ''">
            and counsellor_num = #{param.counsellorNum,jdbcType=VARCHAR}
        </if>
        <if test="param.educationBackground != '研究生' and param.educationBackground != ''">
            <if test="param.classes !=''">
                and classes like #{param.classes}
            </if>
            <if test="param.dormitory != ''">
                and dormitory like #{param.dormitory,jdbcType=VARCHAR}
            </if>
        </if>
        <if test="param.national !=''">
            and national = #{param.national,jdbcType=VARCHAR}
        </if>
        <if test="param.educationBackground != ''">
            and education_background = #{param.educationBackground,jdbcType=VARCHAR}
        </if>
    </sql>


    <select id="getSeniorSearch" resultType="com.chards.committee.vo.StuInfoPageVO">
        <include refid="seniorSearch"></include>
    </select>


    <select id="getLikeList" resultType="com.chards.committee.vo.StuInfoPageVO">
        <include refid="likePage"></include>

    </select>


    <select id="getSeniorSearchList" resultType="com.chards.committee.vo.StuInfoPageVO">
        <include refid="seniorSearch"></include>

    </select>
    <select id="getStudentsByDorStuNumber" resultType="com.chards.committee.vo.StuInfoPageVO">
        select id ,`name`,department,major,grade,classes, state, education_background
        from stu_info
        where dormitory like CONCAT("%", (SELECT dormitory FROM stu_info WHERE id = #{stuNumber}),"%")
    </select>
</mapper>